.perfil-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* hijos a los extremos */
  align-items: flex-start;
  gap: 40px;
  padding: 2rem;
  flex-wrap: nowrap; /* evitar que se rompa línea */
  font-size: 17px;

  max-width: 980px; /* ancho fijo/máximo */
 margin: 6rem auto 0 auto;   /* centra el contenedor */
  box-sizing: border-box; /* para que el padding no aumente el ancho */
  background: #fff; /* opcional para probar visualmente */
  border: 1px solid #ccc; /* opcional para ver límites */
}

.perfil-izquierda {
  flex: 0 0 300px; /* tamaño fijo para izquierda */
  text-align: left;
 
}

.perfil-izquierda img {
  display: block;
  margin-left: 0;
  border-radius: 50%;
  border: 2px solid #fff;
  width: 150px;
  height: 150px;
  margin-bottom: 1rem;
}

.perfil-derecha {
  flex: 1; /* ocupa lo que queda */
  max-width: 660px; /* 980 - 300 - 40 gap */
  text-align: left;
  
}
