<header class="header" *ngIf="!isLoginRegistroPage()">
  <nav class="navbar">
    <div class="navbar-center">
      <a routerLink="/home" href="/home">Home</a>
      <a routerLink="/registro" href="/registro">Registro</a>
      <a routerLink="/quien-soy" href="/quien-soy">Quien soy</a>
    </div>
    <div class="navbar-right">
      <button (click)="onLoginClick()" class="btn-login">
        {{ estaLogueado ? 'Cerrar Sesión' : 'Iniciar Sesión' }}
      </button>
    </div>
  </nav>
</header>

<main *ngIf="!isLoginRegistroPage() && !isQuienSoyPage()" class="main">
  <div class="bienvenida-container">
    <h1 class="neon-text">Bienvenidos a la {{ title }}</h1>
  </div>
</main>


<router-outlet></router-outlet>

<footer class="footer" *ngIf="!isLoginRegistroPage()">
  <p>© 2025 Mi sitio de juegos</p>
</footer>
