.juegos-grid {
  display: grid;
  grid-auto-flow: column; /* hace que los elementos fluyan en columnas (fila única) */
  justify-content: center; /* centra todo el grid */
  gap: 1.5rem;
  padding: 2rem 1rem;
  overflow-x: auto; /* scroll horizontal si no entra */
}


.juego-card {
  border: 3px solid rgb(253, 163, 190);
  width: 380px;
  height: 270px;
  border-radius: 15px;
  background-size:  300px x 200px;
  background-position: center;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 1.8rem;
}

/* Overlay oculto por defecto */
.juego-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  color: white;
  transition: all 0.3s ease;
}

/* Mostrar overlay al hacer hover */
.juego-card:hover .juego-overlay {
  opacity: 1;
}

/* Colores hover personalizados */
.juego-card.celeste:hover .juego-overlay {
  background-color: #883688;
  color: white;
}

.juego-card.verde:hover .juego-overlay {
  background-color: #e4439c;
  color: white;
}

.juego-card.violeta:hover .juego-overlay {
  background-color: #BF00FF;
  color: white;
}

.juego-card.rosa:hover .juego-overlay {
  background-color: #75043d;
  color: white;
}

.jugar-btn {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background-color: black;
  color: white;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
